@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.carousel {
  width: 500px;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
  position: relative;
}

.image-container {
  display: flex;
  position: absolute;
  left: 0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 50%;
  border: none;
  height: 50px;
  background-color: #10445e;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
  border: none;
}